.box{
    width:50px;
    height: 50px;
    background-color: aquamarine;
    transition: all 1.0s ease;
}
.box:hover{
    transform: translate(100px 100px);

}
.box2{
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    transition: all 1.0s ease;
}
.box2:hover {
    transform: rotate(45deg);
}

.box3{
    width: 50px;
    height: 50px;
    background-color: blue;
    transition: all .05s ease;
}

.box3:hover{
    transform: scale(2);
}
.box4{
    width: 50px;
    height: 50px;
    background-color: black;
    transition: all 0.5s ease;
}
.box4:hover{
    transform: skew(50deg, 45deg);
}
.box5{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid aquamarine;
    background-color: blueviolet;
    animation: anime 10s ease-in-out infinite;
}

@keyframes anime{
    from{
        transform: scale(400px);
    }
    to{
        transform: skew(360deg, 360deg);
    }
}